.li-notification {
    --li-notification-width: 330px;
    --li-notification-padding: 14px 26px 14px 13px;
    --li-notification-radius: 8px;
    --li-notification-shadow: var(--li-box-shadow-light);
    --li-notification-border-color: var(--li-border-color-lighter);
    --li-notification-icon-size: 24px;
    --li-notification-close-font-size: var(--li-message-close-size, 16px);
    --li-notification-content-font-size: var(--li-font-size-base);
    --li-notification-content-color: var(--li-text-color-regular);
    --li-notification-title-font-size: 16px;
    --li-notification-title-color: var(--li-text-color-primary);
    --li-notification-close-color: var(--li-text-color-secondary);
    --li-notification-close-hover-color: var(--li-text-color-regular);
}
.li-notification {
    display: flex;
    width: var(--li-notification-width);
    padding: var(--li-notification-padding);
    border-radius: var(--li-notification-radius);
    box-sizing: border-box;
    border: 1px solid var(--li-notification-border-color);
    position: fixed;
    background-color: var(--li-bg-color-overlay);
    box-shadow: var(--li-notification-shadow);
    transition:
        opacity var(--li-transition-duration),
        transform var(--li-transition-duration),
        right var(--li-transition-duration),
        top 0.4s,
        bottom var(--li-transition-duration);
    overflow-wrap: anywhere;
    overflow: hidden;
    z-index: 9999;
    &.right {
        right: 10px;
    }
    &.left {
        left: 10px;
    }

    .li-notification__text {
        margin: 0 10px;
    }
    .li-notification__icon {
        height: var(--li-notification-icon-size);
        width: var(--li-notification-icon-size);
        font-size: var(--li-notification-icon-size);
        color: var(--li-notification-icon-color);
    }

    .li-notification__title {
        font-weight: 700;
        font-size: var(--li-notification-title-font-size);
        line-height: var(--li-notification-icon-size);
        color: var(--li-notification-title-color);
        margin: 0;
    }
    .li-notification__content {
        font-size: var(--li-notification-content-font-size);
        line-height: 24px;
        margin: 6px 0 0;
        color: var(--li-notification-content-color);
        text-align: justify;
    }
    .li-notification__close {
        position: absolute;
        top: 18px;
        right: 15px;
        cursor: pointer;
        color: var(--li-notification-close-color);
        font-size: var(--li-notification-close-font-size);
    }
}
@each $val in info, success, warning, danger {
    .li-notification--$(val) {
        --li-notification-icon-color: var(--li-color-$(val));
        color: var(--el-notification-icon-color);
    }
}
.li-notification--error {
    --li-notification-icon-color: var(--li-color-danger);
    color: var(--el-notification-icon-color);
}

.li-notification-fade-enter-from {
    &.right {
        right: 0;
        transform: translate(100%);
    }
    &.left {
        left: 0;
        transform: translate(-100%);
    }
}
.li-notification-fade-leave-to {
    opacity: 0;
}
