.li-tooltip {
    --li-popover-bg-color: var(--li-bg-color-overlay);
    --li-popover-font-size: var(--li-font-size-base);
    --li-popover-border-color: var(--li-border-color-lighter);
    --li-popover-padding: 12px;
    --li-popover-border-radius: 4px;
    display: inline-block;
}
.li-tooltip {
    .fade-enter-active,
    .fade-leave-active {
        transition: opacity var(--li-transition-duration);
    }

    .fade-enter-from,
    .fade-leave-to {
        opacity: 0;
    }

    .li-tooltip__popper {
        background: var(--li-popover-bg-color);
        border-radius: var(--li-popover-border-radius);
        border: 1px solid var(--li-popover-border-color);
        padding: var(--li-popover-padding);
        color: var(--li-text-color-regular);
        line-height: 1.4;
        text-align: justify;
        font-size: var(--li-popover-font-size);
        box-shadow: var(--li-box-shadow-light);
        word-break: break-all;
        box-sizing: border-box;
        z-index: 1000;
        #arrow,
        #arrow::before {
            position: absolute;
            width: 8px;
            height: 8px;
            box-sizing: border-box;
            background: var(--li-popover-bg-color);
        }
        #arrow {
            visibility: hidden;
        }
        #arrow::before {
            visibility: visible;
            content: '';
            transform: rotate(45deg);
        }
        &[data-popper-placement^='top'] > #arrow {
            bottom: -5px;
        }

        &[data-popper-placement^='bottom'] > #arrow {
            top: -5px;
        }

        &[data-popper-placement^='left'] > #arrow {
            right: -5px;
        }

        &[data-popper-placement^='right'] > #arrow {
            left: -5px;
        }
        &[data-popper-placement^='top'] > #arrow::before {
            border-right: 1px solid var(--li-popover-border-color);
            border-bottom: 1px solid var(--li-popover-border-color);
        }
        &[data-popper-placement^='bottom'] > #arrow::before {
            border-left: 1px solid var(--li-popover-border-color);
            border-top: 1px solid var(--li-popover-border-color);
        }
        &[data-popper-placement^='left'] > #arrow::before {
            border-right: 1px solid var(--li-popover-border-color);
            border-top: 1px solid var(--li-popover-border-color);
        }
        &[data-popper-placement^='right'] > #arrow::before {
            border-left: 1px solid var(--li-popover-border-color);
            border-bottom: 1px solid var(--li-popover-border-color);
        }
    }
}
